<h1>{{message}}</h1>
<html>
<body>
  <h2 style = "text-align :center">
			  <font color = '#FF0000'>THÔNG TIN NHÓM</font><br>
			  Tên nhóm : Nhóm LK
			  </h2>
			  <table style = "width = 100%">
	  <tr>
	  <td><img alt = "me" src = "me.jpg" width = "250" height = "250"></td>
	  <td><img alt = "you" src = "you.jpg" width = "250" height = "250"></td></tr>
      
	  <tr><p style = "font-size: 40px font-family : Arial">
	  <td>Họ và tên: Nguyễn Hoàng Lân <br>
	  MSSV: 1412282 <br>
	  Email: hoanglanars96@gmail.com<br>
	  Số điện thoại: 01642830580</td>
	  
	  <td>Họ và tên: Hà Mạnh Kiệt <br>
	  MSSV: 1412269 <br>
	  Email: hamanhkiet77@gmail.com <br>
	  Số điện thoại: 0975964929</td></p></tr>
	  </table>
	  <style>
	  td {
	  padding: 20px
	  }
	  </style>
</body>
</html>